<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www,thymeleaf.org/thymleaf-extras-springsecurity4">
<head th:include="fragments/layout :: headerFragment">

    <title>Log in</title>

</head>
<body>
    <div class="container">
        <h2>Welcome!</h2>
        <form th:action="@{/tweets/home}" method="post">
        <input type="text" id="username" name="username" th:placeholder="Username" class="form-control" />
        <input type="password" id="password" name="password" th:placeholder="Password" class="form-control">
            <div align = "center" th:if="${param.error}">
                <h4 style="color: red;">Login unsuccessful</h4>
            </div>
            <button class="btn btn-md btn-success btn-block" name="Submit" value="Login" type="submit">Login</button>
        </form>
        <a class="btn btn-md btn-success btn-block" th:href="@{/signup}">Sign Up!</a>

    </div>
</body>
</html>